__pycache__/
.ipynb_checkpoints/
BDD_Deepdrive/
BDD_Deepdrive_Snapshots/
BDD_Deepdrive.zip
dataset/MS_DeepLab_resnet_pretrained_COCO_init.pth
dataset/MS_DeepLab_resnet_pretrained_COCO_init.zip
viewBerkeleyDataset.py
CityScapes/
SegmentedImages/
dataset/list/CityScapesStuttgart_01.txt
dataset/list/SG_Driving.txt
*.pth